include VERSION README.md LICENSE CHANGELOG.md CONTRIBUTING.md SECURITY.md
recursive-include src *.cc *.hh *.i *.pyx
recursive-include examples README *.py
recursive-include tests README *.py
recursive-include utils *.py
recursive-include docs *.md
exclude gmes/constant.py
exclude gmes/pw_material.py
exclude src/constant.py
exclude src/pw_material.py
